<!DOCTYPE html>
<html>

<head>
  <style>
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
      text-align: center;
    }

    footer p {
      color: #f2f2f2;
    }

    footer a {
      color: rgb(239, 85, 59);
      text-decoration: none;
    }
  </style>
</head>

<body>
  <footer>
    <p>Desenvolvido por <a href="https://github.com/geversonfernandes">Geverson Araujo</a> e <a
        href="https://github.com/viniam">Vinicius Amorim</a> |
      <a href="https://github.com/ronaldosc/desafio-analise-dados-procons/tree/main" target="_blank">Repositório
        GitHub</a>
    </p>
  </footer>
</body>

</html>
