<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

  <title>Proconectados</title>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    }

    main {
      padding: 120px;
    }

    body {
      height: 100vh;
      background-color: rgb(34, 39, 46);
      color: rgb(173, 186, 199);
    }
  </style>

</head>

<body>

</body>

</html>
